@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-canvas {
    height: calc(100vh - (10 * 24px));
  }
  .image-rendering-pixelated {
    image-rendering: pixelated;
  }
}

@layer components {
  .canvas {
    @apply absolute top-0 left-0 w-full h-full;
  }
  .slider {
    @apply range block w-full h-6 bg-white border px-1.5 rounded-full border-gray-300 appearance-none cursor-pointer dark:bg-gray-700;
  }

  .range {
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      @apply w-3 h-3 rounded-full bg-orange-600;
    }
    &.disabled {
      &::-webkit-slider-thumb {
        @apply bg-gray-300;
      }
    }
  }
}
